altgraph==0.17.3
autopep8==2.0.2
certifi==2023.7.22
charset-normalizer==3.2.0
decorator==4.4.2
idna==3.4
imageio==2.31.4
imageio-ffmpeg==0.4.9
numpy==1.26.0
opencv-python==4.8.1.78
pefile==2023.2.7
Pillow==10.0.1
proglog==0.1.10
pycodestyle==2.10.0
pygame==2.2.0
pyinstaller==5.8.0
pyinstaller-hooks-contrib==2023.0
pywin32-ctypes==0.2.0
requests==2.31.0
ruff==0.0.282
tomli==2.0.1
tqdm==4.66.1
urllib3==2.0.5
